.product{
    padding: 12px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: center;
    width: 100%;
    /* border: 2px solid red; */
    max-height: 400px;
    min-height: 100px;
    margin: 10px;
    background-color: white;
    /* position: relative; */
    z-index: 1;

    /* margin-top: -350px; */
}
.product__info{
    max-height: 100px;
    min-width: 100px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    /* border: 2px solid green; */
}
.product__price{
    margin-top: 5px;
}

.product__rating{
    display: flex;
}

.product img{
    /* border: 2px solid red; */
    width: 100%;
    /* height: 200px; */
    min-height: 20px;
    object-fit: contain;
    margin-bottom: 15px;
}

.product button{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
}